<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập - Hệ thống Thư viện</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-secondary bg-opacity-10">

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card shadow-lg p-4 rounded-4" style="width: 100%; max-width: 400px;">
            
            <div class="text-center mb-4">
                <h2 class="fw-bold text-primary">THƯ VIỆN SỐ</h2>
                <p class="text-muted">Vui lòng đăng nhập để tiếp tục</p>
            </div>

            <form action="dang-nhap" method="POST">
			    <input type="email" class="form-control" name="email" placeholder="Ví dụ: admin@truong.edu.vn" required>
			    
			    <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu" required>
			    
			    <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">ĐĂNG NHẬP</button>
			</form>

        </div>
    </div>

</body>
</html>